:root {
  --cell-size: 4.5rem;
  --cell-gap: 0.25rem;
  --cell-border-radius: 0.25rem;
  --horizontal-slide-duration: 125ms;
  --vertical-slide-duration: 125ms;
  --zoomin-duration: 125ms;
}

.grid {
  background-color: black;
  display: grid;
  gap: var(--cell-gap);
  grid-template-columns: repeat(var(--grid-columns), var(--cell-size));
  grid-template-rows: repeat(var(--grid-rows), var(--cell-size));
  height: calc(var(--grid-rows) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  padding: var(--cell-gap);
  position: relative;
  user-select: none;
  width: calc(var(--grid-columns) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
}

.cell {
  background-color: #595959;
}

.missing-cell {
  background-color: transparent;
  border: 2px solid white;
}

.tile {
  --_font-scale-factor: 1;
  align-items: center;
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  font-size: calc(var(--cell-size) / 2.6 / var(--_font-scale-factor));
  font-weight: bold;
  height: var(--cell-size);
  justify-content: center;
  position: relative;
  width: var(--cell-size);
}

.grid,
.cell,
.tile {
  border-radius: var(--cell-border-radius);
}

.horizontal-slide {
  opacity: var(--final-opacity);
  transform: translateX(calc((var(--cell-size) + var(--cell-gap)) * (var(--cell-column) - var(--tile-column))));
  transition: transform var(--horizontal-slide-duration) linear,
              opacity var(--opacity-duration) linear var(--opacity-delay);
}

.vertical-slide {
  opacity: var(--final-opacity);
  transform: translateY(calc((var(--cell-size) + var(--cell-gap)) * (var(--cell-row) - var(--tile-row))));
  transition: transform var(--vertical-slide-duration) linear,
              opacity var(--opacity-duration) linear var(--opacity-delay);
}

.zoomin {
  animation: zoomin var(--zoomin-duration) linear;
}

@keyframes zoomin {
  from {
    opacity: 0.2;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tile-font-size-1 {
  --_font-scale-factor: 1;
}

.tile-font-size-2 {
  --_font-scale-factor: 1;
}

.tile-font-size-3 {
  --_font-scale-factor: 1;
}

.tile-font-size-4 {
  --_font-scale-factor: 1.25;
}

.tile-font-size-5 {
  --_font-scale-factor: 1.55;
}

.tile-font-size-6 {
  --_font-scale-factor: 1.85;
}

.tile-font-size-7 {
  --_font-scale-factor: 2.2;
}

.tile-font-size-8 {
  --_font-scale-factor: 2.55;
}

.tile-font-size-9 {
  --_font-scale-factor: 2.9;
}

.tile-font-size-10 {
  --_font-scale-factor: 3.2;
}

/*------------------------------------*\
  #END-GAME-OVERLAY
\*------------------------------------*/

.end-game-overlay {
  align-items: center;
  background-color: rgba(255, 255, 240, 0.9);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  height: max(calc(100% + 1px), 11rem);
  justify-content: center;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 50ms ease-out, visibility 0s 50ms;
  visibility: hidden;
  width: max(calc(100% + 1px), 11rem);
}

.js-visible.end-game-overlay {
  opacity: 1;
  transition: opacity 300ms ease-out, visibility 0s 0s;
  visibility: visible;
}

.end-game-msg {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.75em;
  text-align: center;
}
