:root {
  /* Define custom options here */
  --cell-size: 4.5rem;
  --cell-gap: 0.25rem;
  /* --cell-border-radius: 0.25rem; */
  /* --horizontal-slide-duration: 150ms; */
  /* --vertical-slide-duration: 150ms; */
  /* --zoomin-duration: 125ms; */
}

.grid {
  --_cell-size: var(--cell-size, 4.5rem);
  --_cell-gap: var(--cell-gap, calc(var(--_cell-size) / 18));
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), var(--_cell-size));
  grid-template-rows: repeat(var(--grid-rows), var(--_cell-size));
  gap: var(--_cell-gap);
  padding: var(--_cell-gap);
  background-color: black;
  width: calc(var(--grid-columns) * (var(--_cell-size) + var(--cell-gap)) + var(--cell-gap));
  height: calc(var(--grid-rows) * (var(--_cell-size) + var(--cell-gap)) + var(--cell-gap));
  position: relative;
  user-select: none;
}

.cell {
  background-color: #595959;
}

.missing-cell {
  background-color: transparent;
  border: 2px solid white;
}

.tile {
  --_font-scale-factor: var(--font-scale-factor, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--_cell-size);
  height: var(--_cell-size);
  position: relative;
  font-family: Verdana, Geneva, sans-serif;
  font-size: calc(var(--_cell-size) / 2.6 / var(--_font-scale-factor));
  font-weight: bold;
}

.grid,
.cell,
.tile,
.game-status-container {
  --_border-radius: var(--cell-border-radius, calc(var(--_cell-size) / 18));
  border-radius: var(--_border-radius);
}

.horizontal-slide {
  --_duration: var(--horizontal-slide-duration, 150ms);
  transform: translateX(calc((var(--_cell-size) + var(--_cell-gap)) * (var(--cell-column) - var(--tile-column))));
  transition: transform var(--_duration) ease-out;
}

.vertical-slide {
  --_duration: var(--vertical-slide-duration, 150ms);
  transform: translateY(calc((var(--_cell-size) + var(--_cell-gap)) * (var(--cell-row) - var(--tile-row))));
  transition: transform var(--_duration) ease-out;
}

.zoomin {
  --_duration: var(--zoomin-duration, 125ms);
  animation: zoomin var(--_duration) ease-out;
}

@keyframes zoomin {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

.tile-font-size-1 {
  --_font-scale-factor: 1;
}

.tile-font-size-2 {
  --_font-scale-factor: 1;
}

.tile-font-size-3 {
  --_font-scale-factor: 1;
}

.tile-font-size-4 {
  --_font-scale-factor: 1.25;
}

.tile-font-size-5 {
  --_font-scale-factor: 1.55;
}

.tile-font-size-6 {
  --_font-scale-factor: 1.85;
}

.tile-font-size-7 {
  --_font-scale-factor: 2.2;
}

.tile-font-size-8 {
  --_font-scale-factor: 2.55;
}

.tile-font-size-9 {
  --_font-scale-factor: 2.9;
}

.tile-font-size-10 {
  --_font-scale-factor: 3.2;
}
