* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: linen;
}

.grid-colors {
  --cell-size: 5rem;
  --grid-rows: 7;
  --grid-columns: 6;
}
