* {
  box-sizing: border-box;
}

:root {
  --site-max-width: 50rem;
  --site-content-max-width: 25rem;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.3;
  min-height: 100vh;
  margin: 0;
  padding-top: 5vh;
}

h1,
p {
  margin: 0
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.outer-container {
  margin: 0 auto;
  max-width: var(--site-max-width);
}

.inner-container {
  margin: 0 auto;
  max-width: var(--site-content-max-width);
  padding: 0 1rem;
}

.header-content {
  text-align: center;
}

.score-container {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.new-game-btn {
  background-color: #8de8bf;
  border: 1px solid #82dbb3;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
  display: block;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 auto 2rem;
  letter-spacing: 0.04em;
  padding: 0.5em 1.25em;
}

.new-game-btn:active {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  position: relative;
  top: 1px;
}

.instructions {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#board-container {
  margin: 0 auto;
  max-width: fit-content;
  padding: 0 1rem;
}
