* {
  box-sizing: border-box;
}

:root {
  --site-max-width: 50rem;
  --site-content-max-width: 35rem;
  --primary-color-dark-accent: darkslategray;
  --btn-color: #b9e9b9;
  --btn-color-hover: #bffabb;
  --bg-color: linen;
  --score-container-color: ivory;
  --score-border-color: #f1e3cf;
}

body {
  background-color: var(--bg-color);
  font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding-top: 3vh;
  padding-bottom: 2rem;
}

/*------------------------------------*\
  #UTILITY
\*------------------------------------*/

.color-dark-accent {
  color: var(--primary-color-dark-accent);
}

/*------------------------------------*\
  #TEXT
\*------------------------------------*/

h1,
p {
  margin: 0
}

.header-content {
  text-align: center;
}

.primary-heading {
  color: var(--primary-color-dark-accent);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.score {
  background-color: var(--score-container-color);
  border: 1px solid  var(--score-border-color);
  border-radius: 0.2em;
  color: var(--primary-color-dark-accent);
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  padding: 0.25em;
  min-width: 7em;
  text-align: center;
  text-transform: uppercase;
}

.score-header-text {
  font-size: 1.125rem;
}

.instructions {
  font-size: 1.25rem;
  line-height: 1.35;
  margin-bottom: 2rem;
}

/*------------------------------------*\
  #CONTAINERS
\*------------------------------------*/

.outer-container {
  margin: 0 auto;
  max-width: var(--site-max-width);
}

.inner-container {
  margin: 0 auto;
  max-width: var(--site-content-max-width);
  padding: 0 1rem;
}

.board-container {
  margin: 0 auto;
  max-width: fit-content;
  padding: 0 1rem;
}

.scores-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1.5rem;
}

.best-score-header {
  display: flex;
  justify-content: center;
  position: relative;
}

/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn {
  border-radius: 0.2em;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
  display: block;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0.04em;
  padding: 0.5em 1.25em;
}

.new-game-btn {
  background-color: var(--btn-color);
  border: none;
  color: var(--primary-color-dark-accent);
  font-size: 1.25rem;
  margin: 0 auto 2rem;
  transition: 0.25s;
}

.new-game-btn:focus-visible {
  outline: 2px solid black;
}

.hide-overlay-btn {
  background-color: white;
  border: 1px solid silver;
  font-size: 1.125rem;
  margin: 0 auto 1rem;
}

.hide-overlay-btn:focus-visible {
  outline: 2px solid black;
  outline-offset: -1px;
}

.new-game-btn:focus-visible {
  transition-duration: 0s;
}

.best-score-trash-btn {
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.best-score-trash-btn:focus-visible {
  outline: 2px solid black;
}

.best-score-trash-btn > img {
  width: 1.5rem;
}

@media (hover:hover) {
  .new-game-btn:hover {
    background-color: var(--btn-color-hover);
  }

  .hide-overlay-btn:hover {
    background-color: whitesmoke;
  }

  .best-score-trash-btn:hover {
    --icon-color: #e0455e;
    cursor: pointer;
  }
}

.btn:active {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  position: relative;
  top: 1px;
}

.best-score-trash-btn:active {
  --icon-color: #e0455e;
  cursor: pointer;
}

/*------------------------------------*\
  #END-GAME-OVERLAY
\*------------------------------------*/

.end-game-overlay {
  align-items: center;
  background-color: rgba(255, 255, 240, 0.9);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 50ms ease-out, visibility 0s 50ms;
  visibility: hidden;
  width: 100%;
}

.js-visible.end-game-overlay {
  opacity: 1;
  transition: opacity 300ms ease-out, visibility 0s 0s;
  visibility: visible;
}

.end-game-msg {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
