* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.grid {
  --cell-gap: 0.7rem;
  --cell-size: 5rem;
  --padding: var(--cell-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-rows), var(--cell-size));
  grid-template-rows: repeat(var(--grid-rows), var(--cell-size));
  gap: var(--cell-gap);
  position: relative;
  padding: var(--padding);
  background-color: #bababa;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #dbdbdb;
}

.missing-cell {
  background-color: transparent;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  top: calc(var(--row) * (var(--cell-size) + var(--cell-gap)) + var(--padding));
  left: calc(var(--column) * (var(--cell-size) + var(--cell-gap)) + var(--padding));
  
}

.filled-tile {
  z-index: 100;
  background-color: #DADFF7;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

.grid,
.cell,
.tile,
.filled-tile {
  border-radius: 0.25rem;
}